@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: InterDisplayMedium;
  src: url("../public/fonts/InterDisplay-Medium.ttf");
}

@font-face {
  font-family: InterMedium;
  src: url("../public/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: InterRegular;
  src: url("../public/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: InterBold;
  src: url("../public/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: InterLight;
  src: url("../public/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: InterThin;
  src: url("../public/fonts/Inter-Thin.ttf");
}

@font-face {
  font-family: InstrumentSerifRegular;
  src: url("../public/fonts/InstrumentSerif-Regular.ttf");
}

@theme {
  --font-inter-display-medium: InterDisplayMedium;
  --font-instrument-regular: InstrumentSerifRegular;
  --font-inter-regular: InterRegular;
  --font-inter-bold: InterBold;
  --font-inter-light: InterLight;
  --font-inter-thin: InterThin;
  --font-inter-medium: InterMedium;
  --text-xs: 14px;
}

body {
  /* 
  color: var(--foreground);
  */
  background: #121212;
  font-family: InterRegular;
}
